* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px auto;
    width: 568px;
    height: 320px;
}

.container {
    margin: 1rem;
}

.control-group {
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control-label {
    margin: auto 20px;
}

.control-label--centered {
    margin: auto;
}

@media (min-width: 320px) and (max-width: 567px) {
    body {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
        height: 568px;
    }
}

